name: funcoeszz
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      HOME: /home/nemo
      FUNCOESZZ_REPO: "https://github.com/funcoeszz/funcoeszz.git"
    container: ohmyfish/ohmyfish
    steps:
      - name: Change current working directory owner and group
        run: sudo chown -R nemo:nemo .
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: git clone ${FUNCOESZZ_REPO} ~/funcoeszz
      - name: Install plugin from current working directory
        run: fish -c "omf install (pwd)"
      - name: Run tests
        run: fish -l test/bootstrap.fish
